<a href="https://colab.research.google.com/github/Mithun-mondol/Python/blob/main/Assignment_02_Introduction_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment_Introduction_Python**

## **Assignment_2.1: Create variables for your name, age, and favorite color, then print them with descriptive labels.**

In [ ]:
# Creating Variables
name = 'Mithun Mondol'
age = '37'
favorite_color = 'Sky Blue'

# Printing Variables with  descriptive labels
print('Name: ', name)
print('Age: ', age)
print('Favorite Color: ', favorite_color)

Name:  Mithun Mondol
Age:  37
Favorite Color:  Sky Blue

## **Assignment_2.2: Create one variable of each type and use the type() function to verify its type.**

In [ ]:
# Creating Variables

name = 'Mithun'
age = 37
price = 100.78
equ = 3 + 4j
is_valid = True
is_number = None
my_list = [2, 4, 8]
my_tuple = (2, 4, 8)
my_set = {2, 4, 8}
my_dict = {'name': 'Mithun', 'age': 37, 'district': 'Jashore'}
my_range = range(6)


# Printing Types

print("String Type: ", type(name))
print('integer Type: ', type(age))
print('Float Type: ', type(price))
print('Complex Type: ', type(equ))
print('Boolean Type: ', type(is_valid))
print('None Type: ', type(is_number))
print('List: ', type(my_list))
print('Tuple: ', type(my_tuple))
print('Set: ', type(my_set))
print('Dictionary: ', type(my_dict))
print('Range', type(my_range))

String Type:  <class 'str'>
integer Type:  <class 'int'>
Float Type:  <class 'float'>
Complex Type:  <class 'complex'>
Boolean Type:  <class 'bool'>
None Type:  <class 'NoneType'>
List:  <class 'list'>
Tuple:  <class 'tuple'>
Set:  <class 'set'>
Dictionary:  <class 'dict'>
Range <class 'range'>

## **Assignment_2.3: Calculate the area and perimeter of a rectangle with length 7 and width 5.**

In [ ]:
length = 7
width = 5
area = length * width
peri = 2 * (length + width)

print('Area: ', area)
print("Perimeter: ", peri)

Area:  35
Perimeter:  24

## **Assignment_2.4: Create a list of 5 Bangladeshi foods, then access the first and last elements.**

In [ ]:
bd_foods = ['Biryani', 'Khichuri', 'Polao', 'Ruti', 'Mutton Curry']
print('The first elements: ', bd_foods[0])
print('The last elements: ', bd_foods[-1])

The first elements:  Biryani
The last elements:  Mutton Curry

## **Assignment_2.5: Create a list of 5 numbers, add a new number, remove one, and then sort the list.**

In [ ]:
# Creating List
my_list = [1, 2, 3, 4, 5]

#Add a new Number at End
my_list.append(6)
print('Add a new Number at End: ', my_list)

#Add a new number at Specific Position
my_list.insert(4, 12)
print('Add a new number at Index - 4 Position: ', my_list)

#Removed Number from last position
my_list.pop()
print('Removed Number from last position: ', my_list)

#Removed Number from Specific position
my_list.remove(12)
print('Removed Number from Specific position: ', my_list)

#Sort the List
my_list.sort(reverse = True)
print('Sort Reverse order: ', my_list)

Add a new Number at End:  [1, 2, 3, 4, 5, 6]
Add a new number at Index - 4 Position:  [1, 2, 3, 4, 12, 5, 6]
Removed Number from last position:  [1, 2, 3, 4, 12, 5]
Removed Number from Specific position:  [1, 2, 3, 4, 5]
Sort Reverse order:  [5, 4, 3, 2, 1]

## **Assignment_2.6: Create a dictionary about yourself with at least 4 key-value pairs.**

In [17]:
# Dictionary about myself
my_dict = {
    "first": "Mithun",
    "last": "Mondol",
    "profession": "Engineer",
    "employment": "Private Service",
    "position": "Senior Engineer"
}

print(my_dict)

# Add Items
my_dict['age'] = 37
my_dict["mail"] = "mithun.mondol@gmail.com"

print(my_dict)

{'first': 'Mithun', 'last': 'Mondol', 'profession': 'Engineer', 'employment': 'Private Service', 'position': 'Senior Engineer'}
{'first': 'Mithun', 'last': 'Mondol', 'profession': 'Engineer', 'employment': 'Private Service', 'position': 'Senior Engineer', 'age': 37, 'mail': 'mithun.mondol@gmail.com'}

## **Assignment_2.7: Create a tuple with the latitude and longitude of a famous place in Bangladesh.**

In [18]:
# Tuple with the latitude and longitude of a famous places in Bangladesh
tuple_dhaka = ("23°42′N", "90°22′E")
tuple_coxs_bazar = ("21.5060° N", "91.9774° E")

print("Dhaka is located at ", tuple_dhaka)

print("Cox's Bazar is located at ", tuple_coxs_bazar)

Dhaka is located at  ('23°42′N', '90°22′E')
Cox's Bazar is located at  ('21.5060° N', '91.9774° E')

## **Assignment_2.8: Create two sets of colors and find their union and intersection.**

In [28]:
color1 = {"Red", "Pink", "Orange", "Gray", "White", "Green"}
color2 = {"Yellow", "Purple", "Green", "Blue", "Brown", "White"}


# Union
all_color = color1 | color2
print("All color: \n", all_color)

# Intersection
comm_color = color1 & color2
print("\nCommon Color: \n", comm_color)

All color:
 {'Pink', 'White', 'Orange', 'Purple', 'Gray', 'Red', 'Green', 'Yellow', 'Brown', 'Blue'}

Common Color:
 {'White', 'Green'}

## **Assignment_2.9: Write a program that checks if a number is positive, negative, or zero.**

In [36]:
num = int(input("Enter a number: "))
if num > 0:
  print("The number is Positive")
elif num < 0:
    print("The number is Negative")
elif num == 0:
    print("The number is Zero")

Enter a number: 0
The number is Zero

## **Assignment_2.10: Write a program that checks eligibility for a discount (student AND under 25, OR senior over 60).**

In [39]:
is_student = input("Are you student? (y/n): ").lower()
age = int(input("Enter your age: "))

if is_student == "y" and age < 25:
  print("You are eligible for a discount")
elif (is_student == "y" or is_student == "n") and age > 60:
  print("You are eligible for a discount")
else:
  print("You are NOT eligible for a discount")

Are you student? (y/n): n
Enter your age: 65
You are eligible for a discount

## **Assignment_2.11: Write a program that prints the first 10 even numbers using a for or while loop.**

In [45]:
# The first 10 even numbers using a for loop
for i in range(1, 11):
  even = i*2
  print(even)

print("\n------------------\n")

# The first 10 even numbers using a while loop
count = 0
num = 10
while count <= 10:
  if num % 2 == 0:
    print(num)
    count += 1
  num += 1

2
4
6
8
10
12
14
16
18
20

------------------

10
12
14
16
18
20
22
24
26
28
30

## **Assignment_2.12: Write a program that prints a simple number pyramid pattern using nested loops.**

In [14]:
#Print a Pyramid (Method: 01)
for i in range(1, 10):
  if i % 2 == 0:
    continue
  else:
    pyramid = '*' * i
  print(pyramid.center(10))

  #Print a Pyramid (Method: 02)
def pyr(rows):
  for i in range(1, rows+1):
    # Print Spaces
    for j in range(rows-i):
      print(" ", end = "")

    # Print Star
    for k in range(1, 2*i):
      print("*", end = "")
    print()

pyr(5)

# Function to print full pyramid pattern
def full_pyramid(n):
    for i in range(1, n + 1):
        # Print leading spaces
        for j in range(n - i):
            print(" ", end=" ")

        # Print asterisks for the current row
        for k in range(1, 2*i):
            print("*", end=" ")
        print()

full_pyramid(5)

    *
   ***
  *****
 *******
*********
    *
   ***
  *****
 *******
*********
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

## **Assignment_2.13: Create a function that converts temperature from Celsius to Fahrenheit using the formula: F = (C × 9/5) + 32**

In [51]:
# Create a function that converts temperature from Celsius to Fahrenheit
celsius = float(input("Enter temperature in Celsius: "))

# Declearing function
def cels_fahr (celsius):
  fahr = (celsius*9/5) + 32
  return fahr

# Calling function
fahrenheit = cels_fahr(celsius)
print(f"{celsius} degree celsius = {fahrenheit} degree fahrenheit")

Enter temperature in Celsius: 33.5
33.5 degree celsius = 92.3 degree fahrenheit

## **Assignment_2.14: Create a function with default parameters that calculates the area of a rectangle.**

In [53]:
# Create a function with default parameters
def rectangle(length = 15, width = 9):
  area = length * width
  return area

print(f"Area of Rectangle with (length = 10 and Width = 5), A = {rectangle()} square meter")

Area of Rectangle with (length = 10 and Width = 5), A = 135 square meter