<a href="https://colab.research.google.com/github/Mithun-mondol/Python/blob/main/Assignment_03_NumPy_and_Pandas_for_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
"""
Student Performance Dataset Analysis
Dataset Information
Student Performance Dataset (StudentsPerformance.csv)

1000 students with academic performance data
8 columns: gender, race/ethnicity, parental level of education, lunch, test preparation course, math score, reading score, writing score
Score Range: 0-100 for each subject
Demographics: Male/Female, 5 ethnic groups, 6 education levels, standard/free lunch, test prep completed/none
"""

'\nStudent Performance Dataset Analysis\nDataset Information\nStudent Performance Dataset (StudentsPerformance.csv)\n\n1000 students with academic performance data\n8 columns: gender, race/ethnicity, parental level of education, lunch, test preparation course, math score, reading score, writing score\nScore Range: 0-100 for each subject\nDemographics: Male/Female, 5 ethnic groups, 6 education levels, standard/free lunch, test prep completed/none\n'

In [12]:
#Task 1.1: Data Loading and Exploration
import numpy as np
import pandas as pd

#Connect to google Drive
from google.colab import drive
import warnings
warnings.filterwarnings('ignore')
drive.mount('/content/drive')

# Load the dataset
file_path = '/content/drive/My Drive/Colab Notebooks/Data/StudentsPerformance.csv'

#columns = ['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course', 'math score', 'reading score', 'writing score']
df = pd.read_csv(file_path, header=0)

############### Your tasks: ###############
#1. Display first 10 rows
df_row10 = df.head(10)

# 2. Show dataset shape and info()
df_shape = df.shape
print(f'\n\n Show dataset information:\n ')
df.info()

# 3. Display unique values in each categorical column
gender = df.iloc[ : , 0].values
ethnicity = df.iloc[ : , 1].values
education = df.iloc[ : , 2].values
lunch = df.iloc[ : , 3].values
test_course = df.iloc[ : , 4].values
math_score = df.iloc[ : , 5].values
reading_score = df.iloc[ : , 6].values
writing_scores = df.iloc[ : , 7].values

# 4. Show basic statistics for all score columns
basic_statistic = df.describe()


# Your code here:
print(f'\n Display first 10 rows:\n {df_row10}')
print(f'\n Show dataset shape:\n {df_shape}')
print(f'\n unique values in gender column:\n {np.unique(gender)}')
print(f'\n unique values in race/ethnicity column:\n {np.unique(ethnicity)}')
print(f'\n unique values in parental level of education column:\n {np.unique(education)}')
print(f'\n unique values in lunch column:\n {np.unique(lunch)}')
print(f'\n unique values in test preparation course column:\n {np.unique(test_course)}')
print(f'\n unique values in math score column:\n {np.unique(math_score)}')
print(f'\n unique values in reading score column:\n {np.unique(reading_score)}')
print(f'\n unique values in writing score column:\n {np.unique(writing_scores)}')
print(f'\n\n basic statistics for all score columns info:\n {basic_statistic}')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).


 Show dataset information:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

 Display first 10 rows:
    gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard
5  female        group B          associate's degree      standard
6  female        group B                some college      standard
7    male        group B                some college  free/reduced
8    male        group D                 high school  free/reduced
9  female        group B                 high school  free/reduced

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75
5                    none          71             83             78
6               completed          88             95             92
7                    none          40             43             39
8               completed          64             64             67
9                    none          38             60             50

 Show dataset shape:
 (1000, 8)

 unique values in gender column:
 ['female' 'male']

 unique values in race/ethnicity column:
 ['group A' 'group B' 'group C' 'group D' 'group E']

 unique values in parental level of education column:
 ["associate's degree" "bachelor's degree" 'high school' "master's degree"
 'some college' 'some high school']

 unique values in lunch column:
 ['free/reduced' 'standard']

 unique values in test preparation course column:
 ['completed' 'none']

 unique values in math score column:
 [  0   8  18  19  22  23  24  26  27  28  29  30  32  33  34  35  36  37
  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55
  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73
  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91
  92  93  94  95  96  97  98  99 100]

 unique values in reading score column:
 [ 17  23  24  26  28  29  31  32  34  37  38  39  40  41  42  43  44  45
  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63
  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81
  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  99 100]

 unique values in writing score column:
 [ 10  15  19  22  23  27  28  30  32  33  34  35  36  37  38  39  40  41
  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59
  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77
  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95
  96  97  98  99 100]


 basic statistics for all score columns info:
        math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [13]:
# Store Columns Name
col_name = df.columns.tolist()

#Store each columns data in a series
gender = df[col_name[0]].values
ethnicity = df[col_name[1]].values
education = df[col_name[2]].values
lunch = df[col_name[3]].values
test_course = df[col_name[4]].values
math_score = df[col_name[5]].values
reading_score = df[col_name[6]].values
writing_scores = df[col_name[7]].values

# Store Unique values
uni_gender = np.unique(gender)
uni_ethnicity = np.unique(ethnicity)
uni_education = np.unique(education)
uni_lunch = np.unique(lunch)
uni_test_course = np.unique(test_course)
uni_math_score = np.unique(math_score)
uni_reading_score = np.unique(reading_score)
uni_writing_scores = np.unique(writing_scores)

# Print Unique values in each columns
print(f'unique values in gender column:\n {uni_gender}')
print(f'\n unique values in race/ethnicity column:\n {uni_ethnicity}')
print(f'\n unique values in parental level of education column:\n {uni_education}')
print(f'\n unique values in lunch column:\n {uni_lunch}')
print(f'\n unique values in test preparation course column:\n {uni_test_course}')
print(f'\n unique values in math score column:\n {uni_math_score}')
print(f'\n unique values in reading score column:\n {uni_reading_score}')
print(f'\n unique values in writing score column:\n {uni_writing_scores}')

unique values in gender column:
 ['female' 'male']

 unique values in race/ethnicity column:
 ['group A' 'group B' 'group C' 'group D' 'group E']

 unique values in parental level of education column:
 ["associate's degree" "bachelor's degree" 'high school' "master's degree"
 'some college' 'some high school']

 unique values in lunch column:
 ['free/reduced' 'standard']

 unique values in test preparation course column:
 ['completed' 'none']

 unique values in math score column:
 [  0   8  18  19  22  23  24  26  27  28  29  30  32  33  34  35  36  37
  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55
  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73
  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91
  92  93  94  95  96  97  98  99 100]

 unique values in reading score column:
 [ 17  23  24  26  28  29  31  32  34  37  38  39  40  41  42  43  44  45
  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63
  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81
  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  99 100]

 unique values in writing score column:
 [ 10  15  19  22  23  27  28  30  32  33  34  35  36  37  38  39  40  41
  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59
  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77
  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95
  96  97  98  99 100]

In [14]:
#Task 1.2: NumPy Array Operations
# Convert score columns to numpy arrays
math_scores = df['math score'].values
reading_scores = df['reading score'].values
writing_scores = df['writing score'].values

# Your tasks:
# 1. Calculate mean, median, std, min, max for each subject using NumPy
math_scores_mean = round(np.mean(math_scores), 1)
reading_scores_mean = round(np.mean(reading_scores), 1)
writing_scores_mean = round(np.mean(writing_scores), 1)

math_scores_median = round(np.median(math_scores), 1)
reading_scores_median = round(np.median(reading_scores), 1)
writing_scores_median = round(np.median(writing_scores), 1)

math_scores_std = round(np.std(math_scores), 1)
reading_scores_std = round(np.std(reading_scores), 1)
writing_scores_std = round(np.std(writing_scores), 1)

math_scores_min = round(np.min(math_scores), 1)
reading_scores_min = round(np.min(reading_scores), 1)
writing_scores_min = round(np.min(writing_scores), 1)

math_scores_max = np.max(math_scores)
reading_scores_max = np.max(reading_scores)
writing_scores_max = np.max(writing_scores)

# 2. Find total students who scored above 80 in math
students_above_80 = math_scores > 80

# 3. Find total students who scored below 50 in any subject
students_below_50 = (df[['math score', 'reading score', 'writing score']] < 50).any(axis = 1)

df_below_50 = pd.DataFrame(df[['math score', 'reading score', 'writing score']])
df_below_50['students_below_50'] = (df_below_50 < 50).any(axis = 1)
result = df_below_50[df_below_50['students_below_50'] == True]

# 4. Calculate the overall average score across all three subjects
average = df[['math score', 'reading score', 'writing score']].mean()
overall_average = average.mean()

# Expected output example:
# Math - Mean: 66.1, Median: 66.0, Std: 15.2
# Students with math > 80: 132
# Students with any score < 50: 178

# Your code here:
print(f'Mean Value:\n Math:{math_scores_mean}\n Reading: {reading_scores_mean}\n Writing: {writing_scores_mean}\n')
print(f'Median Value:\n Math:{math_scores_median}\n Reading: {reading_scores_median}\n Writing: {writing_scores_median}\n')
print(f'Standard Deviation Value:\n Math:{math_scores_std}\n Reading: {reading_scores_std}\n Writing: {writing_scores_std}\n')
print(f'Minimum Value:\n Math:{math_scores_min}\n Reading: {reading_scores_min}\n Writing: {writing_scores_min}\n')
print(f'Maximum Value:\n Math:{math_scores_max}\n Reading: {reading_scores_max}\n Writing: {writing_scores_max}\n\n')

print(f'Total students who scored above 80 in math: {np.sum(students_above_80)}\n\n')

print(f'Total students who scored below 50 in any subject: {np.sum(students_below_50)}')
print(f'Total students who scored below 50 in any subject: {len(result)}\n\n')

print(f'The overall average score across all three subjects: {overall_average}')

Mean Value:
 Math:66.1
 Reading: 69.2
 Writing: 68.1

Median Value:
 Math:66.0
 Reading: 70.0
 Writing: 69.0

Standard Deviation Value:
 Math:15.2
 Reading: 14.6
 Writing: 15.2

Minimum Value:
 Math:0
 Reading: 17
 Writing: 10

Maximum Value:
 Math:100
 Reading: 100
 Writing: 100


Total students who scored above 80 in math: 176


Total students who scored below 50 in any subject: 188
Total students who scored below 50 in any subject: 188


The overall average score across all three subjects: 67.77066666666666

In [15]:
# Task 2.1: Identify and Handle Missing Data
# Check the dataset for any missing values
# Your tasks:
# 1. Check for null values in each column using .isnull().sum()
null_values = df.isnull()


# 2. Check for any impossible values (scores > 100 or < 0)
scores = df[['math score', 'reading score', 'writing score']]

invalide_scores = scores[((scores < 0).any(axis = 1)) | ((scores > 100).any(axis = 1))]


# 3. Display summary of data quality

'''################################

Could not understand what to do

##################################'''

# Note: This dataset is clean, but let's verify!

# Your code here:
print(f'null values:\n{null_values.sum()}\n')

print(f'\nimpossible values: {len(invalide_scores)}')

null values:
gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64


impossible values: 0

In [16]:
from os import replace
#Task 2.2: Create and Fix Missing Value
# Artificially create missing data for practice
import numpy as np

# Your tasks:
# 1. Make a copy of the dataset: df_practice = df.copy()
# 2. Randomly set 50 math scores to np.nan
# 3. Randomly set 30 writing scores to np.nan
# 4. Fill missing math scores with the MEDIAN math score
# 5. Fill missing writing scores with the MEAN writing score
# 6. Verify no missing values remain

# Steps to follow:
# Step 1: Create copy and show original missing values
df_practice = df.copy()
print(f"Original missing values:\n{df_practice.isnull().sum()}\n")


# Step 2: Create missing data
np.random.seed(20)  # For reproducible results
missing_math_idx = np.random.choice(df_practice.index, 50, replace = False)
#missing_reading_idx = np.random.choice(df_practice.index, 35, replace = False)
missing_writing_idx = np.random.choice(df_practice.index, 30, replace = False)

# Step 3: Repalce missing data with Nan Values
df_practice.loc[missing_math_idx, 'math score'] = np.nan
#df_practice.loc[missing_reading_idx, 'reading score'] = np.nan
df_practice.loc[missing_writing_idx, 'writing score'] = np.nan

# Step 4: Repalce missing data with Nan Values
print(f"Missing values after modified:\n{df_practice.isnull().sum()}\n")

# Step 5: Find the MEDIAN math score and MEAN writing score
median_math = df_practice['math score'].median()
mean_writing = df_practice['writing score'].mean()

print(f"The MEDIAN math score: {round(median_math, 1)}")
print(f"The MEAN writing score: {round(mean_writing, 1)}\n")

# Step 5: Fill missing data with the MEDIAN math score and MEAN writing score
df_practice['math score'] = df_practice['math score'].fillna(median_math)
df_practice['writing score'] = df_practice['writing score'].fillna(mean_writing)

# Step 6: Final check - should be 0 missing values now
print(f'Missing values after replacement:\n{df_practice.isnull().sum()}')

# Your code here:

Original missing values:
gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

Missing values after modified:
gender                          0
race/ethnicity                  0
parental level of education     0
lunch                           0
test preparation course         0
math score                     50
reading score                   0
writing score                  30
dtype: int64

The MEDIAN math score: 66.0
The MEAN writing score: 68.2

Missing values after replacement:
gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [17]:
#Task 3.1:Answer Simple Questions About Student Performance
# Your tasks:
# 1. Display first 5 rows using .head()
# 2. Display last 5 rows using .tail()
# 3. Show dataset shape using .shape
# 4. Show column names using .columns
# 5. Show data types using .dtypes
# 6. Show basic info using .info()

# Your code here:
print(f'First 5 rows:\n{df.head()}\n')
print(f'Last 5 rows:\n{df.tail()}\n')
print(f'Dataset shape:\n{df.shape}\n')
print(f'Column names:\n{df.columns}\n')
print(f'Data types:\n{df.dtypes}\n')
print(f'Basic info:\n{df.info()}')

First 5 rows:
   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75

Last 5 rows:
     gender race/ethnicity parental level of education         lunch  \
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

Dataset shape:
(1000, 8)

Column names:
Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

Data types:
gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
Basic info:
None

In [18]:
#Task 3.2: Basic Groupby Analysis
# Comprehensive groupby analysis
# Your tasks:

# 1. Group by 'gender' and calculate:
#    - Average scores in all subjects
df.head()
avg_score = df.groupby('gender')[['math score', 'reading score', 'writing score']].mean()
print(f'Average scores in all subjects:\n {avg_score}')
print('\n')

#    - Count of students
students_count_by_gender = df.groupby('gender').count()
print(f'Count of students:\n {students_count_by_gender}')
print('\n')

# 2. Group by 'test preparation course' and show:
#    - Mean scores for each subject
mean_score = df.groupby('test preparation course')[['math score', 'reading score', 'writing score']].mean()
print(f'Mean scores for each subject:\n {mean_score}')
print('\n')

#    - Show which subject benefits most from test prep
improvement = mean_score.loc['completed'] - mean_score.loc['none']
most_benefit = improvement.idxmax()
print(f'subject benefits most from test prep:\n {most_benefit}')
print('\n')

# 3. Group by 'parental level of education' and calculate:
#    - Average math score for each education level
avg_math_score_by_prental = df.groupby('parental level of education')['math score'].mean()
print(f'Average math score for each education level:\n {avg_math_score_by_prental}')
print('\n')

#    - Rank education levels by math performance
rank_by_math = avg_math_score_by_prental.sort_values(ascending =)
print(f'Rank education levels by math performance:\n {rank_by_math}')
print('\n')

# 4. Group by 'lunch' type and show:
#    - Average scores for each subject
avg_math_score_by_linch = df.groupby('lunch')['math score'].mean()
print(f'Average scores for each subject:\n {avg_math_score_by_linch}')
print('\n')

#    - Count of students in each lunch category
count_student_by_lunch = df.groupby('lunch').count()
print(f'Count of students in each lunch category:\n {count_student_by_lunch}')

# Your code here:

Average scores in all subjects:
         math score  reading score  writing score
gender
female   63.633205      72.608108      72.467181
male     68.728216      65.473029      63.311203


Count of students:
         race/ethnicity  parental level of education  lunch  \
gender
female             518                          518    518
male               482                          482    482

        test preparation course  math score  reading score  writing score
gender
female                      518         518            518            518
male                        482         482            482            482


Mean scores for each subject:
                          math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673


subject benefits most from test prep:
 writing score


Average math score for each education level:
 parental level of education
associate's degree    67.882883
bachelor's degree     69.389831
high school           62.137755
master's degree       69.745763
some college          67.128319
some high school      63.497207
Name: math score, dtype: float64


Rank education levels by math performance:
 parental level of education
master's degree       69.745763
bachelor's degree     69.389831
associate's degree    67.882883
some college          67.128319
some high school      63.497207
high school           62.137755
Name: math score, dtype: float64


Average scores for each subject:
 lunch
free/reduced    58.921127
standard        70.034109
Name: math score, dtype: float64


Count of students in each lunch category:
               gender  race/ethnicity  parental level of education  \
lunch
free/reduced     355             355                          355
standard         645             645                          645

              test preparation course  math score  reading score  \
lunch
free/reduced                      355         355            355
standard                          645         645            645

              writing score
lunch
free/reduced            355
standard                645

In [25]:
#Task 3.3: Use your data analysis skills to answer these easy questions:

# 1. Who performs better in math - males or females?
#    - Calculate average math score by gender
avg_math_score_by_gender = df.groupby('gender')['math score'].mean()
print(f'average math score by gender:\n {avg_math_score_by_gender}')
print('\n')
#    - Show the difference between male and female average
difference = avg_math_score_by_gender['male'] - avg_math_score_by_gender['female']
print(f'the difference between male and female average: {difference:.2f}')
print('\n')

# 2. Which subject do students perform best in overall?
#    - Calculate the overall average for math, reading, and writing
overall_average = df[['math score', 'reading score', 'writing score']].mean().mean()
print(f'the overall average for math, reading, and writing: {overall_average:.2f}')
print('\n')

#    - Rank the subjects from highest to lowest average score
rank_subject = df[['math score', 'reading score', 'writing score']].mean().sort_values(ascending = False)
print(f'Rank the subjects from highest to lowest average score:\n{rank_subject}\n')

# 3. What's the impact of parental education?
#    - Find the average total score for each parental education level
df['total score'] = df['math score'] + df['reading score'] + df['writing score']
avg_total_score_by_parent = df.groupby('parental level of education')['total score'].mean()
print(f'the average total score for each parental education level:\n{avg_total_score_by_parent}\n')

#    - Identify which education level leads to highest student performance
highest_performance = avg_total_score_by_parent.idxmax()
highest_score = avg_total_score_by_parent.max()
print(f'{highest_performance} education level leads to highest student performance with score {highest_score:.2f}')

average math score by gender:
 gender
female    63.633205
male      68.728216
Name: math score, dtype: float64


the difference between male and female average: 5.10


the overall average for math, reading, and writing: 67.77


Rank the subjects from highest to lowest average score:
reading score    69.169
writing score    68.054
math score       66.089
dtype: float64

the average total score for each parental education level:
parental level of education
associate's degree    208.707207
bachelor's degree     215.771186
high school           189.290816
master's degree       220.796610
some college          205.429204
some high school      195.324022
Name: total score, dtype: float64

master's degree education level leads to highest student performance with score 220.80